<div class="row">
  <div class="col-12">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
      <div class="row">
        <div class="col-md-5 col-9 form-group">
            <mat-form-field class="example-full-width">
              <input
                matInput
                placeholder="Name"
                id="name"
                name="name"
                ngModel
                required>
            </mat-form-field>
        </div>
        <div class="col-md-2 col-3 form-group">
          <mat-form-field class="example-full-width">
            <input
              matInput
              placeholder="Amount"
              type="number"
              id="amount"
              name="amount"
              ngModel
              required
              pattern="^[1-9]+[0-9]*$">
          </mat-form-field>
        </div>
        <div class="col-md-5 buttons-group">
          <button
            color="primary"
            type="submit"
            mat-button
            [disabled]="!f.valid">{{ editMode ? 'Update' : 'Add' }}</button>
          <button
            color="primary"
            type="button"
            mat-button
            (click)="onDelete()"
            *ngIf="editMode">Delete</button>
          <button
            color="primary"
            type="button"
            mat-button
            (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
