.buttons-group {
  align-items: flex-end;
  display: flex;
  padding-bottom: 1rem;
}
.buttons-group a {
  display: inline-block;
  margin-left: 0.5rem;
}
.buttons-group a:first-child {
  margin-left: 0;
}
